<h2>About page</h2>

<p>Hello! I'm Swagath Reddy, a passionate Web Developer and 
    problem solver with a flair for crafting digital experiences that 
    blend creativity and functionality. With a deep-rooted love for 
    technology and an eye for design aesthetics, I'm dedicated to 
    turning ideas into captivating, user-friendly solutions.</p>

<h3>SkillSet:</h3>
<div class="subheading">
<h4>Web Development:</h4><p> HTML, CSS, javascript, Bootstrap, Django, Node.js, 
Express</p>
</div>
<div class="subheading">
<h4>Databases:</h4>
<p>PostgreSQL, MongoDB</p>
</div>
<div class="subheading">
    <h4>languages</h4>
    <p>C, Python, Java</p>
</div>